<h1>Form with Conditionals HW Assignment</h1>


<form name="hwform" id="hwform" method="get">

	<p>
		<label>Full Name<br/>
			<input name = "name" type = "text" value = <%= params[:name] %>>
		</label>
	</p>

	<p>
		<label>Address<br/>
			<textarea name = "address" form = "hwform"><%= params[:address] %></textarea>
		</label>
	</p>

	<p>
		<label>City<br/>
			<input name = "city" type = "text" value = <%= params[:city] %>>
		</label>
	</p>

	<p>
	<label>State<br/>
		<select name="state">
		<% @states.each do |state| %>
			<option value= <%= state[:id] %>
				<% if params[:state] == state[:id] %>
					Selected
				<% end %>><%= state[:name]%>
			</option>
		<%end%>
		</select>
	</label>
	</p>

	<p>
		<label>Zip<br/>
			<input name = "zip" type = "text" value = <%= params[:zip] %>>
		</label>
	</p>

	<p>
  		<label>
  			<% if params[:agreement] == '1' %>
    		<input name = "agreement" type = "checkbox" value = "1" checked>I agree to give you my information.
    		<% else %>
    		<input name = "agreement" type = "checkbox" value = "1">I agree to give you my information.
    		<% end %>
  		</label>
 	</p>

 	<p>
 		<input type = "submit" name = "submission" value = "Submit Info">
 	</p>

</form>	

<hr>

<p>Form Submission Values</p>
<% if params[:name].nil? %>
	<p> No Values Present </p>
<% else %>
	<%= params %>
<% end %>

<!-- iterate through each state in the array and put them into list items individually -->

